extends ../template/index
block content
    if errors
        each val in errors
            .alert.alert-danger(role='alert')=val
    form(action="/users/create",method='POST',enctype='multipart/form-data')
        .from-group.mb-3
            label(for='name') Name
            input#name.form-control(type="text",name='name', value=values ? values.name : '')
        .from-group.mb-3
            label(for='phone') Phone
            input#phone.form-control(type="text",name='phone', value=values ? values.phone : '')
        .from-group.mb-3
            label(for='mail') Email
            input#mail.form-control(type="text",name='email', value=values ? values.email : '')
        .from-group.mb-3
            label(for='password') Password
            input#password.form-control(type="text",name='password', value=values ? values.password : '')
        .from-group.mb-3
            label(for='avatar') Avatar
            input#avatar.form-control-file(type="file",name='avatar', value=values ? values.password : '')
 
        button.btn.btn-success Create

